In [48]:
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sn
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

In [49]:
cols_to_use = ['sofifa_id','short_name','overall', 'potential'] 
df19 = pd.read_csv('players_19.csv',usecols =cols_to_use)
df20 = pd.read_csv('players_20.csv',usecols =cols_to_use)
df21 = pd.read_csv('players_21.csv', usecols = cols_to_use)

In [50]:
df19 = df19.dropna()
df20 = df20.dropna()
df21 = df21.dropna()

In [51]:
s1 = pd.merge(df19, df20, how='inner', on=['short_name'])

In [52]:
s1.head()

,sofifa_id_x,short_name,overall_x,potential_x,sofifa_id_y,overall_y,potential_y
0,20801,Cristiano Ronaldo,94,94,20801,93,93
1,158023,L. Messi,94,94,158023,94,94
2,193080,De Gea,91,93,193080,89,90
3,192985,K. De Bruyne,91,92,192985,91,91
4,155862,Sergio Ramos,91,91,155862,89,89

In [53]:
s1.shape

(15694, 7)

In [54]:
s2 = pd.merge(df20, df21, how='inner', on=['short_name'])

In [55]:
s2.head()

,sofifa_id_x,short_name,overall_x,potential_x,sofifa_id_y,overall_y,potential_y
0,158023,L. Messi,94,94,158023,93,93
1,20801,Cristiano Ronaldo,93,93,20801,92,92
2,190871,Neymar Jr,92,92,190871,91,91
3,200389,J. Oblak,91,93,200389,91,93
4,183277,E. Hazard,91,91,183277,88,88

In [56]:
s2.shape

(16002, 7)

In [57]:
X_train = s1.iloc[:, 2:4]
X_train = X_train/100
X_train

       overall_x  potential_x
0           0.94         0.94
1           0.94         0.94
2           0.91         0.93
3           0.91         0.92
4           0.91         0.91
...          ...          ...
15689       0.47         0.61
15690       0.47         0.61
15691       0.47         0.59
15692       0.47         0.59
15693       0.47         0.58

[15694 rows x 2 columns]

In [58]:
X_test = s2.iloc[:, 2:4]
X_test = X_test/100
X_test

       overall_x  potential_x
0           0.94         0.94
1           0.93         0.93
2           0.92         0.92
3           0.91         0.93
4           0.91         0.91
...          ...          ...
15997       0.48         0.61
15998       0.48         0.60
15999       0.48         0.60
16000       0.48         0.54
16001       0.48         0.51

[16002 rows x 2 columns]

In [59]:
Y_train = s1.iloc[:, 2]
Y_train = Y_train/100
Y_train

0        0.94
1        0.94
2        0.91
3        0.91
4        0.91
         ...
15689    0.47
15690    0.47
15691    0.47
15692    0.47
15693    0.47
Name: overall_x, Length: 15694, dtype: float64

In [70]:
Y_test = s2.iloc[:,2]
Y_test  = Y_test/100
Y_test

0        0.94
1        0.93
2        0.92
3        0.91
4        0.91
         ...
15997    0.48
15998    0.48
15999    0.48
16000    0.48
16001    0.48
Name: overall_x, Length: 16002, dtype: float64

In [61]:
x_train = np.stack([X_train['overall_x'],X_train['potential_x']], axis=1)

In [62]:
x_test = np.stack([X_test['overall_x'],X_test['potential_x']], axis=1)

In [63]:
model = keras.Sequential([
    keras.layers.Dense(2, input_shape=(2,), activation='relu'),
    keras.layers.Dense(20, activation='sigmoid'),
    keras.layers.Dense(20, activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='mean_squared_error',
             metrics=['mean_squared_error'])

model.fit(X_train, Y_train, epochs=25)

Epoch 1/25
491/491 [==============================] - 1s 800us/step - loss: 0.0082 - mean_squared_error: 0.0082
Epoch 2/25
491/491 [==============================] - 0s 794us/step - loss: 0.0046 - mean_squared_error: 0.0046
Epoch 3/25
491/491 [==============================] - 0s 817us/step - loss: 0.0043 - mean_squared_error: 0.0043
Epoch 4/25
491/491 [==============================] - 0s 787us/step - loss: 0.0036 - mean_squared_error: 0.0036
Epoch 5/25
491/491 [==============================] - 0s 806us/step - loss: 0.0023 - mean_squared_error: 0.0023
Epoch 6/25
491/491 [==============================] - 0s 815us/step - loss: 9.1889e-04 - mean_squared_error: 9.1889e-04
Epoch 7/25
491/491 [==============================] - 0s 787us/step - loss: 2.5672e-04 - mean_squared_error: 2.5672e-04
Epoch 8/25
491/491 [==============================] - 0s 805us/step - loss: 1.0439e-04 - mean_squared_error: 1.0439e-04
Epoch 9/25
491/491 [==============================] - 0s 795us/step - loss: 6.4646e-05 - mean_squared_error: 6.4646e-05
Epoch 10/25
491/491 [==============================] - 0s 803us/step - loss: 5.1202e-05 - mean_squared_error: 5.1202e-05
Epoch 11/25
491/491 [==============================] - 0s 821us/step - loss: 4.4348e-05 - mean_squared_error: 4.4348e-05
Epoch 12/25
491/491 [==============================] - 0s 792us/step - loss: 3.9782e-05 - mean_squared_error: 3.9782e-05
Epoch 13/25
491/491 [==============================] - 0s 806us/step - loss: 3.5213e-05 - mean_squared_error: 3.5213e-05
Epoch 14/25
491/491 [==============================] - 0s 796us/step - loss: 3.1237e-05 - mean_squared_error: 3.1237e-05
Epoch 15/25
491/491 [==============================] - 0s 798us/step - loss: 2.8807e-05 - mean_squared_error: 2.8807e-05
Epoch 16/25
491/491 [==============================] - 0s 818us/step - loss: 2.6860e-05 - mean_squared_error: 2.6860e-05
Epoch 17/25
491/491 [==============================] - 0s 832us/step - loss: 2.5288e-05 - mean_squared_error: 2.5288e-05
Epoch 18/25
491/491 [==============================] - 0s 916us/step - loss: 2.4644e-05 - mean_squared_error: 2.4644e-05
Epoch 19/25
491/491 [==============================] - 0s 815us/step - loss: 2.3327e-05 - mean_squared_error: 2.3327e-05
Epoch 20/25
491/491 [==============================] - 0s 815us/step - loss: 2.2994e-05 - mean_squared_error: 2.2994e-05
Epoch 21/25
491/491 [==============================] - 0s 823us/step - loss: 2.1904e-05 - mean_squared_error: 2.1904e-05
Epoch 22/25
491/491 [==============================] - 0s 912us/step - loss: 2.1645e-05 - mean_squared_error: 2.1645e-05
Epoch 23/25
491/491 [==============================] - 0s 826us/step - loss: 2.0595e-05 - mean_squared_error: 2.0595e-05
Epoch 24/25
491/491 [==============================] - 0s 809us/step - loss: 2.0010e-05 - mean_squared_error: 2.0010e-05
Epoch 25/25
491/491 [==============================] - 0s 811us/step - loss: 1.9222e-05 - mean_squared_error: 1.9222e-05

In [64]:
model.evaluate(X_test, Y_test)

501/501 [==============================] - 0s 551us/step - loss: 1.7271e-05 - mean_squared_error: 1.7271e-05

[1.7271133401663974e-05, 1.7271133401663974e-05]

In [78]:
y_predicted = model.predict(X_test)
cm = tf.math.confusion_matrix(labels=Y_test,predictions=y_predicted)

plt.figure(figsize = (10,7))
sn.heatmap(cm, annot=True, fmt='d')
plt.xlabel('Predicted')
plt.ylabel('Truth')

InvalidArgumentError: Shapes of all inputs must match: values[0].shape = [16002] != values[1].shape = [16002,20] [Op:Pack] name: stack